.product-thumb-container {
  list-style: none;
  width: 200px;
  height: 300px;

  margin: 30px 10px 10px 30px;
  border: 1px solid #0065a09c;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.product-thumb-image {
  max-width: 180px;
  max-height: 130px;
  object-fit: cover;
  margin: 20px;
  padding: 10px;
}

.product-info {
  padding: 0px;
  margin: 0px;
  color: #353535;
}
