/* IDENTIDADE VISUAL
Cor principal #0066A0
Azul secundário #1f77b4
Azul de apoio #1aaacc
Verde de apoio #5FBB46
Amarelo de apoio #ffbf00
*/
* {
  box-sizing: border-box;
}
label {
  color: #353535;
  margin: 10px 0px 0px 0px;
}
input,
select,
textarea {
  border: 1px solid #35353572;
  padding: 8px;
  border-radius: 5px;
  margin-top: 4px;
  outline: 0;
  font-family: inherit;
  width: 100%;
}
input:focus {
  border: 1px solid #0066a0;
}
input[type="radio"] {
  width: max-content;
  margin-left: 10px;
}
h1 {
  color: #0066a0;
}
h3 {
  margin: 0px 0px 20px 0px;
  color: #0066a0;
  text-align: center;
}
hr {
  margin-bottom: 20px;
  width: 100%;
}
.nav-bar {
  background-color: #0066a0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #1aaacc;
  margin-bottom: 20px;
}
.white-logo {
  margin-left: 80px;
}
.menu {
  display: flex;
  flex-direction: row;
  margin-right: 80px;
}
.page-title {
  display: block;
}
.menu-item,
.btn-login,
.btn-logout,
.btn-add-company {
  background-color: transparent;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.405);
  border: none;
}
.menu-item:hover {
  background-color: #1aabcc44;
  border-radius: 50%;
}
.btn-logout {
  background-color: #5fbb46;
  border-radius: 50%;
  padding-left: 12px;
}
.btn-logout:hover {
  background-color: #494949b0;
  border-radius: 50%;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7% auto;
  border: 1px solid #35353572;
  border-radius: 10px;
  width: 400px;
}
.info-account {
  align-self: flex-start;
  margin: 0 8%;
  font-size: 0.8em;
  padding: 1px;
  color: #353535be;
}
.info-account:hover {
  color: #0066a0;
  cursor: pointer;
  text-decoration: underline;
}
.logo {
  object-fit: cover;
  margin-top: 20px;
  align-self: center;
}
.login-form {
  width: 85%;
  align-self: center;
  margin-top: 10px;
}
.btn-login {
  background-color: #0066a0;
  padding: 13px 40px;
  margin: 40px 0px;
  border-radius: 20px;
  font-weight: bold;
  width: 150px;
  align-self: center;
}
.btn-login:hover {
  background-color: #5fbb46;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #0000008c;
}
.map-container {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
.leaflet-container {
  width: 80%;
  height: 75vh;
}
.add-company {
  display: flex;
  justify-content: flex-end;
  margin-right: 13%;
}
.btn-add-company {
  background-color: #5fbb46;
  border-radius: 20px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
}
.container-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}
.form-row {
  display: flex;
  justify-content: space-between;
}
.item-79 {
  flex-basis: 79%;
}
.item-59 {
  flex-basis: 59%;
}
.item-49 {
  flex-basis: 49%;
}
.item-29 {
  flex-basis: 29%;
}
.item-19 {
  flex-basis: 19%;
  align-self: flex-end;
}
.item-9 {
  flex-basis: 9%;
}
.btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.btn-save,
.btn-cancel {
  background-color: transparent;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.405);
  border: none;
  margin: 20px 0px 20px 0px;
  border-radius: 20px;
}
.btn-save {
  background-color: #5fbb46;
  padding: 13px 30px;
  font-weight: bold;
}
.btn-save:hover {
  background-color: #0066a0;
}
.btn-cancel {
  background-color: #494949b0;
  padding: 13px 20px;
}
.btn-cancel:hover {
  background-color: #494949d9;
}
