body {
  margin: 0;
  font-family: fieldwork, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9em;
}

code {
  font-family: fieldwork, sans-serif;
  font-weight: 300;
  font-style: normal;
}
